body {
  margin: 0;
  font: normal 16px Arial, Helvetica, sand-serif;
  color: #333;
}

#particles-js {
  background: no-repeat top center;
  height: 900px;
  position: absolute; /* fixed will cause it to cover the whole page, absolute forces it to stay in one spot */
  width: 100%;
  overflow: hidden;
}
