.typistText-header {
  text-align: center;
  color: gray;
  background-color: black;
  height: 870px;
  overflow: hidden;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.type1 {
  padding-top: 60px;
  font-size: 100px;
}

.type2 {
  padding-top: 10px;
  font-size: 50px;
}

.typeRow {
  width: 100%;
}

.type3 {
  padding-top: 100px;
  text-align: center;
  font-size: 50px;
}

.type4 {
  list-style-type: none;
  text-align: center;
  font-size: 30px;
}

.checkMe {
  display: block;
  margin: 0 auto;
  text-align: center;
  padding-top: 220px;
  font-size: 50px;
}
